<div id="<%= dom_id philosopher %>">
  <p>
    <strong>Phil fname:</strong>
    <%= philosopher.phil_fname %>
  </p>

  <p>
    <strong>Phil lname:</strong>
    <%= philosopher.phil_lname %>
  </p>

  <p>
    <strong>Phil dob:</strong>
    <%= philosopher.phil_dob %>
  </p>

  <p>
    <strong>Phil deathyr:</strong>
    <%= philosopher.phil_deathyr %>
  </p>

  <p>
    <strong>Phil bio:</strong>
    <%= philosopher.phil_bio %>
  </p>

</div>
